In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import log_loss, average_precision_score

In [2]:
train_df = pd.read_csv('../data/clean_train.csv')
test_df = pd.read_csv('../data/clean_test.csv')
train_df.head()

,customerid,leadid,leadtype,seek,vehiclesold,is_email_provided,is_valid_email,is_personal_email,is_personal_cell,is_valid_cell,...,model_description_length,dealer_city,dealer_group,is_motus_group,name_length,is_valid_name,is_full_name,is_weekend_lead,lead_response_time,customer_leads_count
0,D3B8E20E-F798-4CA9-94EE-FF6D0E7E99F2,11187465,Facebook,New,0,1,1,1,1,1,...,6,Germiston,Chery,Yes,20,1,1,1,45,2
1,372AB00B-6A1C-45D1-8D29-29287C627D3B,11187550,Facebook,New,0,1,1,1,1,1,...,1,Northcliff,Renault,No,12,1,1,1,0,1
2,74262064-94E9-4E7E-9C01-CA8405243929,11187564,Other,New,0,1,1,1,1,1,...,1,Durban,General,No,12,1,1,1,42,1
3,F4D65935-310B-455D-B414-1759C3B807F7,11187583,Website,New,1,1,1,1,1,1,...,2,Germiston,VW,No,18,0,1,1,0,1
4,A732E82D-B4BE-438C-9690-07AB3EFD9CD4,11187615,TikTok,New,0,1,1,1,1,1,...,1,Durban,General,No,24,0,1,1,0,1